<div class="w-full h-screen grid place-items-center bg-slate-200">
   <div class="w-1/2 h-auto rounded-2xl divide-y-[1px] bg-white divide-slate-300 grid grid-flow-row dark:bg-slate-800 dark:divide-slate-600">
      <!-- Header_Section -->
      <div class="px-8 py-4 grid grid-row-2">
        <div class="grid grid-col-2">
          <input 
            type="text" 
            value="1.0.0"
            class="
              bg-transparent 
              h-auto 
              w-max 
              font-semibold
              text-2xl
              col-start-1
              col-end-5
              col-span-5
            text-black 
            dark:text-gray-400
            hover:text-blue-500 
            focus:text-black
            focus:outline-blue-400
          ">
          <input 
            type="text"
            value="10/12/2022" 
            class="
              col-start-5
              col-end-7
              text-end
              bg-transparent
              text-slate-500
              hover:text-blue-500
              focus:outline-blue-400
            ">
        </div>
        <div class="grid grid-cols-6">
          <input 
            *ngIf="showDescription"
            type="text"
            placeholder="Add any description..."
            class="
              bg-transparent 
              h-auto
              w-full
              font-normal
              col-start-1
              col-end-7 
              pt-1 
              pb-1
            hover:placeholder-blue-500 
            focus:outline-blue-400
          ">
        </div>
      </div>

      <!-- Main_Body -->
      <div class="px-8 py-4 grid grid-cols-6 divide-y-0" *ngFor="let entry of listOfEntries; let i = index ">

        <button 
          class="
            col-start-1 
            col-end-1
            text-center
            text-xs
            text-white
            rounded-lg
          "
          [ngClass]="{
            'bg-green-600' : (entry.state === 'ADDED'),
            'bg-pink-600' : (entry.state === 'BREAKING'),
            'bg-gray-500' : (entry.state === 'OTHER'),
            'border-gray-500 text-gray-500 border-2' : (entry.state=== 'IN PROGRESS'),
            'bg-blue-600' : (entry.state === 'FIXED'),
            'bg-purple-600' : (entry.state === 'CHANGED'),
            'bg-yellow-600' : (entry.state === 'DEPRECATED'),
            'bg-black' : (entry.state === 'REMOVED')
          }"
          (click)="toggleStates(i)"
        >
          {{entry.state}}
        </button>

        <input 
          type="text"
          placeholder="Type something..." 
          class="
            bg-transparent
            col-start-2
            col-end-6
            col-span-5
            h-auto
            w-full
            px-4
            focus:outline-blue-400
        ">

        <span class="col-start-6 col-end-6">
          <i 
            class="fa-solid fa-chevron-up pr-4 dark:text-slate-400" [ngClass]="{'text-gray-500':(i ===0)}"></i>
          <i class="fa-solid fa-chevron-down pr-4 dark:text-slate-400" [ngClass]="{'text-gray-500':(i === (listOfEntries.length - 1) )}"></i>
          <i class="fa-solid fa-minus pr-4 dark:text-slate-400"></i>
        </span>
      </div>

      <!-- Keys -->
      <div class="px-8 py-4 text-xs text-slate-400 ">
        <div class="w-full text-end">
          <button class="hover:bg-slate-200 px-2 py-1" (click)="onClickDescription()">
            <i class="fa-regular fa-eye-slash" *ngIf="!showDescription"></i>
            <i class="fa-regular fa-eye" *ngIf="showDescription"></i>
            Description
          </button>
          <button class="text-black hover:bg-slate-200 px-3 py-2 text-sm font-medium dark:text-white" (click)="onAddEntry()">+ Add Entry</button>
        </div>
      </div>

   </div>
</div>